# Ignore Cloud9 IDE and metadata
.c9/

# Ignore Terraform state and cache files
.terraform/
*.tfstate
*.tfstate.backup

# Ignore SSH key files
*.pem
*.key

# Ignore other temporary files
*.swp

# Ignore Terraform lock file
.terraform.lock.hcl